<navegacao class="desce-menu"></navegacao>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">

            <div class="panel panel-primary">
                <div class="panel-heading">Cadastro de Colaboradores</div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Código :</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" placeholder="Código">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nome :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Nome completo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Apelido :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Apelido">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Endereço :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Endereço do colaborador">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Bairro :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Bairro">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Cidade :</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="Cidade">
                                </div>
                                <label class="col-sm-1 control-label">UF :</label>
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option>Acre</option>
                                        <option>Bahia</option>
                                        <option>Minas Gerais</option>
                                        <option>São Paulo</option>
                                        <option>Rio de Janeiro</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Telefone :</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" placeholder="(XX) XXXX-XXXX">
                                </div>
                                <label class="col-sm-1 control-label">Fax :</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" placeholder="(XX) XXXX-XXXX">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                <button type="button" class="btn btn-success btn-lg" ng-click=""><span class="glyphicon glyphicon-floppy-open
"></span> Gravar</button>
                                <button type="button" class="btn btn-info btn-lg" ng-click=""><span class="glyphicon glyphicon-refresh"></span> Limpar</button>
                                <button type="button" class="btn btn-danger btn-lg" ng-click=""><span class="glyphicon glyphicon-trash"></span> Inativar</button>
                            </div>
                            <div class="col-sm-2"></div>
                        </fieldset>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-sm-2"></div>


    </div>
</div>

